@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


@font-face {font-family: "Suisse Int'l Medium"; src: url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.woff2") format("woff2")}


.page-preload {
    opacity: 0;
}

html,
body {
    font-family: 
    "Suisse Int'l Medium",
    Roboto,
    -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

#page {
    padding: 40px 40px 0 40px;
    max-width: 1440px;
    margin: auto;
    height: 100%;    
    overflow: scroll;
    scroll-snap-type: y mandatory;

}
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-size: 56px;
    color: #FFFFFF;
    letter-spacing: -0.56px;
    line-height: 64px;
    max-width: 600px;
}

h2 {
font-size: 32px;
color: #ffffff;
line-height: 42px;
max-width: 600px;

}

h3 {
font-size: 40px;
color: #FFF;
line-height: 42px;
max-width: 650px;
}

h4 {
    font-size: 32px;
    color: #fff;
    letter-spacing: -0.2px;
    line-height: 42px;
    margin-bottom: 12px;
}
.email-link {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

.email-link:hover {
    color: #fff;
}
.video-header {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: -1000; 
    overflow: hidden;
}

.section-content {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.section {
    scroll-snap-align: start;
    height: 100%;
    padding-top: 40px;
    margin-bottom: 40px;
    background-position: 40% 40%;
    animation: mymove 20s infinite;
    background-size: cover;
}

  
  @keyframes mymove {
    50% {background-position: 60% 60%;}
  }



#arrow {
    font-size: 40px;
    color:#fff;
    margin-top: 40px;
    cursor: pointer;
}

.small-titles {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 80px);
    position: absolute;
    top:40px;
    left: 40px;
    transition: all .3s ease-in-out;
}
.small-titles a {
    text-decoration: none;
}
.small-title {
    transition: all .3s ease-in-out;
 
font-size: 24px;
color: #FFFFFF;
letter-spacing: -0.24px;
line-height: 32px;
z-index: 4;
}

.small-title-right {
    transition: all .3s ease-in-out;
font-size: 24px;
color: #FFFFFF;
letter-spacing: -0.24px;
line-height: 32px;
z-index: 4;
}


@media only screen and (max-width: 640px) {

.small-titles {
    width: calc(100% - 40px);
    top: 20px;
    left: 20px;
}

.mobile-hide {
    display: none;
}
.small-title {
 
font-size: 14px;

}
.small-title-right {
  text-decoration: none;
font-size: 14px;

}


h1 {
    font-size: 40px;
    line-height: 48px;
    max-width: 300px;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    max-width: 270px;
}

h3 {
    font-size: 36px;
    line-height: 48px;
}

h4 {
    font-size: 16px;
    line-height: 18px;
}

.email-link {
font-size: 14px;
}

.section {
margin-bottom: 20px;
}

#page,.section-content {
padding: 20px 20px 0 20px;
}
}

